<!doctype htmp>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>I PRESENT YOUR NEW ANTHEM</h1>
    <img src="<%=@song%>" alt="Your anthem is the beat of your own drum!"/>
  </body>
</html>